.Agregar-Estudiantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Agregar-Estudiantes input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #cecdcd;
    color: #333;
    font-weight: bold;
}

.Agregar-Estudiantes button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Mostrar-Estudiantes{
    list-style: none; width: 100%;
}
.estudiante {
margin: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    color: #333;
    font-weight: bold;
   

}